[alias]
	st = status -s
	graph = log --oneline --decorate --graph
	ls = log --oneline
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
