node_modules
.cloud-locale-test.skip
.local/
.terraform.d/
.vnc/
.xsession-errors
snap/
.DS_Store
 .CFUserTextEncoding
.bash_history
.cache/
.config/
.docker/
.muttrc
.node_repl_history
.npm/
.vim/
.viminfo
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
github.com/
go/
.Trash/
.CFUserTextEncoding
.atom/
.dlv/
.wget-hsts
sent
.boto
.cups/
.degit/
.deno/
.gsutil/
.ssh/
google-cloud-sdk/
.bashrc.backup
.npmrc
.standard-v13-cache/
code/
.Xauthority
.dockerignore
.kube/
.matplotlib/
.psql_history
.quartercastle/bin/gsql-prod
.tlog-server
.tlog/
.xgo-cache/
.zsh_sessions/
VirtualBox\ VMs/
.cargo/
.lesshst
.profile
.rustup/
.zshenv
